.secondary-button {
    border: 1px solid #DADCE0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #276EF1;
    padding: 0.625rem 1rem;
    margin-right: 1rem;
}

.primary-button {
    background: #276EF1 0% 0% no-repeat padding-box;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    padding: 0.625rem 1rem;
    margin-right: 1rem;
    border: 0px solid transparent;
}