.text-input-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    label {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #5F6368;
        margin-bottom: 0.5rem;
    }

    input {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #DADCE0;
        border-radius: 4px;
        padding: 1rem 0.7rem;
    }
}